<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vegefoods - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kanit&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/animate.css">
    
    <link rel="stylesheet" href="/owl.carousel.min.css">
    <link rel="stylesheet" href="/owl.theme.default.min.css">
    <link rel="stylesheet" href="/magnific-popup.css">

    <link rel="stylesheet" href="/aos.css">

    <link rel="stylesheet" href="/ionicons.min.css">

    <link rel="stylesheet" href="/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/jquery.timepicker.css">

    
    <link rel="stylesheet" href="/flaticon.css">
    <link rel="stylesheet" href="/icomoon.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body class="goto-here">
      <div class="py-1 bg-primary">
          <div class="container">
            <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
              <div class="col-lg-12 d-block">
                <div class="row d-flex">
                  <div class="col-md pr-4 d-flex topper align-items-center">
                    <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
                    <span class="text">+ 99-501-7216</span>
                  </div>
                  <div class="col-md pr-4 d-flex topper align-items-center">
                    <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
                    <span class="text">freash-fruit@email.com</span>
                  </div>
                  <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
                    <span class="text">import fruit from wolrdwide &amp; delivery in THAILAND</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
          <div class="container">
            <a class="navbar-brand" href="home">FRESH-FRUIT</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="oi oi-menu"></span> Menu
            </button>
    
            <div class="collapse navbar-collapse" id="ftco-nav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="home" class="nav-link">Home</a></li>
                <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">
              <a class="dropdown-item" href="shop">Shop</a>
              <a class="dropdown-item" href="wishlist">Wishlist</a>
              <a class="dropdown-item" href="product-single">Single Product</a>
              <a class="dropdown-item" href="cart">Cart</a>
              <a class="dropdown-item" href="checkout">Checkout</a>
            </div>
                </li>
                <li class="nav-item"><a href="about" class="nav-link">About</a></li>
                <li class="nav-item"><a href="blog" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="contact" class="nav-link">Contact</a></li>
                <li class="nav-item cta cta-colored"><a href="cart" class="nav-link"><span class="icon-shopping_cart"></span>[0]</a></li>
    
              </ul>
            </div>
          </div>
        </nav>
    <!-- END nav -->

    <div class="hero-wrap hero-bread" style="background-image: url('/bg-1.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
           <p class="breadcrumbs"><span class="mr-2"><a href="home">Home</a></span> <span>Blog</span></p>
            <h1 class="mb-0 bread">Blog</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-degree-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 ftco-animate">
      <div class="row">
       <div class="col-md-12 d-flex ftco-animate">
              <div class="blog-entry align-self-stretch d-md-flex">
                <a href="blog-single" class="block-20" style="background-image: url('/cf_blogs.jpg');">
                </a>
                <div class="text d-block pl-md-4">
                 <div class="meta mb-3">
                    <div><a href="#">May 19, 2019</a></div>
                    <div><a href="#">by แอดมินเอง</a></div>
                    <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                  </div>
                  <h3 class="heading"><a href="#">กินคลีนเพื่อสุขภาพกินอย่างไรให้ถูกวิธี</a></h3>
                  <p>กระแสการทานอาหารเพื่อสุขภาพถือว่ามาแรงมากในยุคนี้ บ้างทำเพื่อสุขภาพ บ้างทำเพื่อการดูแลสัดส่วนและรูปร่าง  หลายคนรู้จักวิธีการทานอาหารแบบนี้และเรียกกันอย่างติดปากว่าการทานคลีน หรือกินคลีน แต่จากการสำรวจพบหลายคนยังเข้าใจสับสนและนำเสนอเมนูที่เรียกว่าอาหารคลีนยังไม่ถูกต้องซะทีเดียว</p>
                  <p><a href="http://www.lovefitt.com/tips-tricks/กินคลีนเพื่อสุขภาพกินอย่างไรให้ถูกวิธี/" class="btn btn-primary py-2 px-3">Read more</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-12 d-flex ftco-animate">
              <div class="blog-entry align-self-stretch d-md-flex">
                <a href="blog-single" class="block-20" style="background-image: url('/h_blogs.png');">
                </a>
                <div class="text d-block pl-md-4">
                 <div class="meta mb-3">
                    <div><a href="#">Jun 11, 2019</a></div>
                    <div><a href="#">by แอดมินเอง</a></div>
                    <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                  </div>
                  <h3 class="heading"><a href="#">ผลไม้สร้างสุขภาพ</a></h3>
                  <p>บรรดาอาหารหลัก 5 หมู่ ผลไม้ก็เป็นหนึ่งในความจำเป็นพื้นฐานที่ร่างกายต้องได้รับหรือกินทุกวัน เพราะผลไม้นอกจากจะประกอบไปด้วยสารอาหารชนิดต่างๆ มากมายแล้ว ยังประกอบไปด้วยน้ำร้อยละ 60 ถึง 95 ดังนั้นเมื่อรู้สึกกระหายหรือคอแห้งแล้วได้กินผลไม้จึงทำให้รู้สึกสดชื่นและชุ่มคอ</p>
                  <p><a href="https://www.doctor.or.th/article/detail/1653" class="btn btn-primary py-2 px-3">Read more</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-12 d-flex ftco-animate">
              <div class="blog-entry align-self-stretch d-md-flex">
                <a href="blog-single" class="block-20" style="background-image: url('/j_blogs.jpg');">
                </a>
                <div class="text d-block pl-md-4">
                 <div class="meta mb-3">
                    <div><a href="#">July 26, 2019</a></div>
                    <div><a href="#">by แอดมินเอง</a></div>
                    <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                  </div>
                  <h3 class="heading"><a href="#">ดื่มน้ำผลไม้ให้ประโยชน์มากแค่ไหน</a></h3>
                  <p>ณ วันนี้เป็นยุคที่ผู้คนทั้งประเทศตื่นตัว กลัวตาย หันมาใส่ใจดูแลสุขภาพกันมากขึ้น ขณะเดียวกันในด้านของผู้ผลิต ก็ตอบสนองโดยการผลิตสินค้าทั้งอุปโภคและบริโภค ที่ห้อยท้ายด้วยคำว่า "เพื่อสุขภาพ" ออกมาจำหน่ายกันมากมาย หนึ่งในจำนวนนั้น ก็คือ น้ำผลไม้หลากชนิด นานายี่ห้อ ที่มีให้เลือกซื้ออย่างจุใจ</p>
                  <p><a href="https://www.doctor.or.th/article/detail/7542" class="btn btn-primary py-2 px-3">Read more</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-12 d-flex ftco-animate">
              <div class="blog-entry align-self-stretch d-md-flex">
                <a href="blog-single" class="block-20" style="background-image: url('/m_blogs.jpg');">
                </a>
                <div class="text d-block pl-md-4">
                 <div class="meta mb-3">
                    <div><a href="#">July 20, 2019</a></div>
                    <div><a href="#">by แอดมินเอง</a></div>
                    <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                  </div>
                  <h3 class="heading"><a href="#">สรรพคุณประโยชน์ของ mandarins</a></h3>
                  <p>Mandarin (ส้มแมนดาริน) เป็นพืชพื้นเมืองของเอเชีย และถูกนำเข้าสู่พื้นที่แถบเมดิเตอร์เรเนียนในช่วงระหว่างศตวรรษที่ 19  ผลที่มีรสอร่อยของส้มแมนดารินมีคุณประโยชน์มากมาย</p>
                  <p><a href="https://www.at-z.co.th/content/15023/mandarin" class="btn btn-primary py-2 px-3">Read more</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-12 d-flex ftco-animate">
              <div class="blog-entry align-self-stretch d-md-flex">
                <a href="blog-single" class="block-20" style="background-image: url('/sf_blogs.jpg');">
                </a>
                <div class="text d-block pl-md-4">
                 <div class="meta mb-3">
                    <div><a href="#">Dec 01, 2019</a></div>
                    <div><a hr